.about::before {
  content: "";
  // background: url("/img/promo-bg.jpg") center no-repeat;
  // background: url("/img/top-bg5.jpg") center no-repeat;

  opacity: 0.8;
  z-index: -1;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-size: cover;
}

.about {
  position: relative;
  &__row {
    display: flex;
    flex-direction: column;
    z-index: 1;
    // padding: 85px 0 147px;
    padding: 45px 0;
    // padding: 85px 0 30px;
    // &-title {
    //   color: $white;
    //   text-shadow: 2px 2px 5px $main;
    // }
    &-content {
      // padding: 60px 0;
      display: flex;
      justify-content: center;
      // flex-wrap: wrap;
      flex-direction: row;
      gap: 55px;
    }

    &-text {
      // max-width: 350px;
      max-width: 30%;

      background-color: white;
      border-radius: 5px;
      padding: 15px;
      // height: max-content;
      // justify-self: start;
      font-size: 1.125rem;
      &--title {
        font-size: 1.625rem;
        margin-bottom: 20px;
        font-weight: 600;
      }
    }
    // img {
    //   width: 200px;
    //   height: 100%;
    // }
  }
}

.advantages {
  display: flex;
  flex-direction: row;
  
  border-bottom: 1px solid $light-gray;
  border-top: 1px solid $light-gray;
  // &__title {
  //   margin-top: 30px;
  // }
  &__row {
    margin: 75px 0;//50
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 25px;
    &-img {
      img {
        width: 100%;
        border-radius: 5px;
      }
    }

    &-content {
      display: grid;
      // justify-content: center;
      grid-template-columns: 1fr 1fr;
      // flex-wrap: wrap;
      // flex-direction: row;
      gap: 15px;
      margin-left: 40px;
    }

    &-text {
      max-width: 85%;

      background-color: white;
      border-radius: 5px;
      padding: 15px;
      // height: max-content;
      // justify-self: start;
      font-size: 1.125rem;
      &--title {
        font-size: 1.625rem;
        margin-bottom: 20px;
        font-weight: 600;
      }
    }
    // img {
    //   width: 200px;
    //   height: 100%;
    // }
  }
}

.key {
  background: $light-gray;
  // border-top: 1px solid red;
  &__row {  
    padding: 140px 0;
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 50px;
    &-img {
      img {
        max-width: 100%;
        // height: 80vh;
        border-radius: 5px;
      }
    }

    &-impotant {
      display: flex;
      flex-direction: column;
      justify-content: center;
      // align-items: center;
      gap: 50px;      
    }

    &-title {
      font-size: 2.5rem;
      text-transform: uppercase;
      font-weight: 600;
    }

    &-text {
      font-size: 1.625rem;
    }

    &-list {
      display: flex;
      flex-direction: row;
      // gap: 20px;
      justify-content: space-between;
      margin-top: 25px;
      // padding-right: 25px;
    } 

    &-items { 
      display: flex; 
      flex-direction: column;
      gap: 10px;

      &--title {
        font-size: 1.125rem;
        margin-bottom: 15px;
        font-weight: 600;
        // min-height: 50px;
        // text-transform: uppercase;
      }
    }
    &-item {
      font-size: 1.125rem;
    }
  }
}