.btn {
  width: 290px;
  padding: 20px 40px;
  border: 1px solid transparent;
  border-radius: 10px;
  text-align: center;
  cursor: pointer;
  &--submit, &--call {
    color: white;
    font-weight: 700;
    background-color: #d78707;
    &:hover {
      background: transparent;
      border-color: gray;
      font-weight: 800;    
      color: #d78707;
    }    
  }
  
  &--send {
    border-color: #151515;
    &:hover {
      font-weight: 800;    
    }
  }

  &--send-promo {
    border-color: #151515;
    color: white;
    font-weight: 700;
    background-color: #d78707;
    &:hover {
      background: transparent;
      border-color: gray;
      font-weight: 800;     
    }
  }

  &--more {
    padding: 0;
    font-weight: 500;
    width: auto;
  }
}
