.btn {
  width: 290px;
  padding: 20px 40px;
  border: 1px solid transparent;
  border-radius: 10px;
  text-align: center;
  font-size: 1.25rem; //20px;
  cursor: pointer;
  &--submit,
  &--call {
    color: $white;
    background-color: $minor;
    &:hover {
      // background: transparent;
      // border-color: gray;
      // font-weight: 800;
      // color: #d78707;
      -webkit-box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2);
      -moz-box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2);
      box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2);
    }
  }

  &--send {
    border: 1px;
    border-color: $dark-gray;
    box-shadow: 1px 1px 1px 1px rgba(34, 60, 80, 0.2);
    &:hover {
      -webkit-box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2);
      -moz-box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2);
      box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2);
    }
    &_foto {
      margin: 0 auto;
      border-color: $gray;
      font-family: inherit;
    }
  }

  &--send-promo {
    color: $white;
    // font-weight: 700;
    background-color: $minor;
    &:hover {
      -webkit-box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2);
      -moz-box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2);
      box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2);
    }
  }

  &--more {
    // padding: 0 5px 5px;
    padding: 0 5px;
    width: auto;
  }

  &--switch {
    padding: 4px 8px 8px 8px;
    font-weight: 500;
    width: 30px;
    height: 30px;
    color: $white;
    font-weight: 700;
    border: 1px solid $minor;
    background-color: transparent;
    svg path {
      fill: $minor;
    }  
  }  
}  
