.form {
    z-index: 1000;
    position: fixed;
    top: 20%;
    right: 40%;
    width: 380px;
    margin: 0 auto;
    padding: 20px;
    border-radius: 10px;
    background-color: rgb(246, 248, 248);
    display: flex;
    flex-direction: column;
    &__title {
        font-size: 25px;
        font-weight: 700;
        text-align: center;
        margin-bottom: 10px;
        color: #556B2F

    }
    &__subtitle {
        font-size: 20px;
        font-weight: 600;
        margin: 10px 0;
        color: #556B2F

    }
    &__description {
        font-size: 14px;
        color: rgb(156, 167, 163);
    }
    input {
        outline: none;
        padding: 10px;
        margin: 10px 0;
    }

    input[type="date"] {
        width: 100%;
    }

    select {
        padding: 5px;
        margin: 10px 0;
        outline: none;
    }
    textarea {
        max-width: 340px;
        min-height: 100px;
        margin-bottom: 10px;
        padding: 10px;
    }
    &__close {
        position: absolute;
        right: 20px;
        color: #d78707;
        width: 24px;
        height: 24px;
        cursor: pointer;
    }

    &__communicate {
        display: flex;
        flex-wrap: wrap;
        gap: 20px;  
        justify-content: center;      
    }

    &__message {
        color: #d78707;
        font-weight: 900;
        position: absolute;
        bottom: 10px;
        left: 30%;

    }
}