.popup-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #f6f4f29f;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 200; 
}

.form { 
  z-index: 1000;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 450px; //380
  // margin: 0 auto;
  padding: 20px;
  padding-bottom: 40px;
  border-radius: 10px;
  background-color: #f6f8f8;
  display: flex;
  flex-direction: column;
  box-shadow: 0px 1px 1px 1px rgba(34, 60, 80, 0.2);
  &__title {
    font-size: 1.5625rem; //25px;
    font-weight: 700;
    text-align: center;
    margin-bottom: 10px;
    color: $main;
  }

  &__subtitle {
    font-size: 1.25rem; //20px;
    font-weight: 600;
    margin: 10px 0;
    color: $main;
  }

  &__description {
    font-size: 0.875rem; //14px;
    color: $minor;
    opacity: 0.7;
  }

  input {
    outline: none;
    padding: 10px;
    margin: 10px 0;
    font-family: Oswald, sans-serif;
  }

  &__upload input[type="file"] {
    padding: 0;
    margin-bottom: 20px;
    margin-top: 0;
  }

  &__upload-file::-webkit-file-upload-button {
    color: $white;
    background: $minor;
    border: 1px solid $minor;
    padding: 8px 15px;
    margin-right: 10px;
    font-weight: 600;
    border-radius: 8px;
    white-space: nowrap;
    cursor: pointer;
    font-size: 14px;
    font-family: Oswald, sans-serif;
  }

  input[type="name"],
  input[type="tel"],
  select,
  textarea {
    border: 0.2px solid $minor;
    border-radius: 8px;
    font-size: 1rem;

  }

  select {
    padding: 5px;
    margin: 10px 0;
    outline: none;
    font-family: Oswald, sans-serif;
  }

  textarea {
    max-width: 100%; //340
    // min-height: 100px;
    // margin-bottom: 10px;
    padding: 10px;
    outline: none;
    font-family: inherit;
  }

  &__close {
    position: absolute;
    top: 15px;
    right: 20px;
    // color: $minor;
    width: 24px;
    height: 24px;
    cursor: pointer;
    svg path {
      stroke: $minor;
      fill: none;
    }
  }

  &__communicate {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }

  &__message {
    color: $major;
    font-weight: 900;
    position: absolute;
    bottom: 10px;
    left: 30%;
  }
}

.form__request {
  // display: flex;
  // flex-direction: row;
  display: grid;
  grid-template-columns: 1fr 1fr;
  z-index: 200;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 800px;
  gap: 40px;
  padding: 20px;
  padding-bottom: 40px;
  border-radius: 10px;
  background-color: #f6f8f8;
  box-shadow: 0px 1px 1px 1px rgba(34, 60, 80, 0.2);
  &__title {
    font-size: 1.5625rem; //25px;
    font-weight: 700;
    text-align: center;
    margin-bottom: 10px;
    color: $main;
  }

  &__subtitle {
    font-size: 1.25rem; //20px;
    font-weight: 600;
    margin: 10px 0;
    color: $main;
  }

  &__description {
    font-size: 0.875rem; //14px;
    color: $minor;
    opacity: 0.7;

  }

  input {
    outline: none;
    padding: 10px;
    margin: 10px 0;
    font-family: Oswald, sans-serif;
    // width: 310px;
    width: 100%;
  }

  &__upload input[type="file"] {
    padding: 0;
    margin-bottom: 20px;
    margin-top: 0;
  }

  &__upload-file::-webkit-file-upload-button {
    color: $white;
    background: $minor;
    border: 1px solid $minor;
    padding: 8px 15px;
    margin-right: 10px;
    font-weight: 600;
    border-radius: 8px;
    white-space: nowrap;
    cursor: pointer;
    font-size: 14px;
    font-family: Oswald, sans-serif;
  }

  input[type="name"],
  input[type="tel"],
  select,
  textarea {
    border: 0.2px solid $minor;
    border-radius: 8px;
    font-size: 1rem;

  }

  input[type="date"] {
    width: 100%;
    border: 0.2px solid $minor;
    border-radius: 8px;
    font-size: 1rem;
  }

  input[type="time"] {
    width: 40%;
    border: 0.2px solid $minor;
    border-radius: 8px;
  }

  select {
    padding: 5px;
    margin: 10px 0;
    outline: none;
    font-family: Oswald, sans-serif;
    // width: 310px;
    width: 100%;
  }

  textarea {
    // max-width: 100%;

    width: 100%;
    // min-height: 100px;
    // margin-bottom: 10px;
    padding: 10px;
    outline: none;
    margin-top: 10px;
    font-family: inherit;
  }

  // &__close {
  //   position: absolute;
  //   top: 20px;
  //   right: 20px;
  //   // color: $minor;
  //   width: 24px;
  //   height: 24px;
  //   cursor: pointer;
  //   svg path {
  //     stroke: $minor;
  //     fill: none;
  //   }
  // }

  &__communicate {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }

  &__message {
    color: $major;
    font-weight: 900;
    position: absolute;
    bottom: 10px;
    left: 40%;
  }
}