.how::before {
  content: "";
  // background: url("/img/top-bg3.jpg") center no-repeat;
  // background: url("/img/promo-bg.jpg") center no-repeat;
  background: $light-gray;
  opacity: 0.8;
  z-index: -1;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-size: cover;
  // height: 100vh;
  height: 100%;
}

.how {
  position: relative;
  // border-top: 1px solid red;

  // height: 100vh;
  &__row {
    padding: 85px 0 10px;
    // z-index: 1;
    // &-title {
    //   color: $white;
    //   text-shadow: 2px 2px 5px $main;
    // }
      &-head {
        display: flex;
        justify-content: space-between;
        svg {
          position: relative;
        }
      }

    &-subtitle {
      position: relative;
      text-align: right;
      margin-right: 3%;
    }

    &-free {
      width: 70px;
      position: absolute;
      top: 10px;
      right: 170px;
      rotate: 15deg;
    }

    &-items {
      display: flex;
      gap: 40px;
    }

    &-info {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      width: 50%;
      gap: 20px;
    }

    &-item {
      // border: 1px solid $minor;
      border-radius: 5px;
      padding: 15px;
      max-width: 33%;
      // position: relative;
      // background: $white;

      &_title {
        font-size: 1.625rem; //26px;
        margin-bottom: 20px;
        font-weight: 600;
        display: flex;
        gap: 20px;
        span {
          width: 25px;
        }
      }

      &_text {
        font-size: 1.125rem;
        span {
          color: $major;
        }
      }
    }
  }
}

.feedback {
  margin: 40px 0;
  display: flex;
  gap: 50px;
  justify-content: center;
}

.visit {
  // border-bottom: 1px solid red;

  &__personal {
    display: flex;
    gap: 50px;
    justify-content: space-between;
  }

  &__row {
    padding: 25px 0 50px;

    &-info {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      width: 50%;
      gap: 20px;
    }

    &-item {
      border: 1px solid $minor;
      border-radius: 5px;
      padding: 15px;
      max-width: 33%;
      position: relative;
      background: $white;

      &_title {
        font-size: 1.625rem; //26px;
        margin-bottom: 20px;
        font-weight: 600;
        display: flex;
        gap: 20px;
        span {
          width: 25px;
        }
      }

      &_text {
        font-size: 1.125rem;
        span {
          color: $major;
        }
      }

      &--services {
        width: 65%;
        // border: 1px solid $minor;
        border-radius: 5px;
        padding: 15px;
      }

      &--address {
        flex-grow: 1;
        // border: 1px solid $minor;
        border-radius: 5px;
        // padding: 15px;
        // position: absolute;
        // top: 85%;
        // left: 30%;
      }
    }
  }
}

iframe {
  border-radius: 5px;
  border: none;
  // border: 1px solid $minor;
  // position: absolute;
  height: 250px;
  // top: 30px;
}

.tip {
  border: none;
  width: 50px;
  height: 50px;
  position: relative;
  cursor: pointer; 
}

.tip-hover {
  padding: 15px;
  background: white;
  font-size: 1.25rem;
  color: $main;
  box-shadow: 0px 2px 8px rgba(20, 16, 36, 0.1);
  border-radius: 10px;
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.3s;
  position: absolute;
  right: 180px;
  width: max-content;
}

.tip:hover + .tip-hover {
  visibility: visible;
  opacity: 1;
}