.how::before {
  content: "";
  background: url("/img/top-bg3.jpg") center no-repeat;
  opacity: 0.8;
  z-index: -1;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-size: cover;
  // height: 100vh;
}
.how {
  margin-top: 100px;
  position: relative;
  &__row {
    padding: 85px 0;
    z-index: 1;
    &-title {
      color: $white;
      text-shadow: 2px 2px 5px $main;
    }
    &-items {
      display: flex;
      gap: 40px;
    }

    &-free {
      width: 80px;
      position: absolute;
      top: -10px;
      right: 0px;
      rotate: 10deg;
    }

    &-info {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      width: 50%;
      gap: 20px;
    }

    &-item {
      border: 1px solid $minor;
      border-radius: 5px;
      padding: 15px;
      max-width: 33%;
      position: relative;
      background: $white;

      &_title {
        font-size: 1.625rem; //26px;
        margin-bottom: 20px;
        font-weight: 600;
        display: flex;
        gap: 20px;
        span {
          width: 25px;
        }
      }

      &_text {
        font-size: 1.125rem;
        span {
          color: $major;
        }
      }
      &--services {
        width: 65%;
        border: 1px solid $minor;
        border-radius: 5px;
        padding: 15px;
        background: $white;
      }
      &--address {
        flex-grow: 1;
        border: 1px solid $minor;
        border-radius: 5px;
        padding: 15px;
        position: absolute;
        top: 85%;
        left: 30%;
        background: $white;
      }
    }
  }
}

.feedback {
  margin: 40px 0;
  display: flex;
  gap: 50px;
  justify-content: center;
}

.visit {
  display: flex;
  gap: 50px;
  // align-items: flex-start;
  position: relative;
}

iframe {
  border-radius: 5px;
  border: 1px solid $minor;
  position: absolute;
  // top: 30px;
}
