.promo {
   background: url('/img/feature-bg.jpg') center no-repeat;
   background-size: 100% 100%;
   // margin-top: 30px;
   // padding: 123px 0 110px;
   // height: 100vh;
   &__row {
      display: flex;
      flex-direction: column;
      // padding: 145px 0 150px;
      padding: 85px 0;

      &-main {
         display: flex;
         flex-direction: row;
         align-items: center;
         justify-content: space-between;
         margin: 100px 0;
         // height: 400px;
      }

      &-title {
         width: 70%;
         text-align: center;
         letter-spacing: 0.03em;
      }

      &-offer {
         background-color: rgba(0, 0, 0, 0.5);
         border: transparent;
         border-radius: 15px;
         display: flex;
         flex-direction: row;
         justify-content: space-between;
         align-items: center;
         // width: 75%;
         padding: 20px;
         // margin: auto;
         margin-top: 100px;
      }

      &-text {
         color: white;
         font-size: 25px; //28
         line-height: 42px; //временная 160%
         width: 60%;
      }
   }
     
}

.logo {
   align-self: baseline;
   img {
      width: 250px;
   }

}
