.promo {
   background: url('/img/feature-bg.jpg') center no-repeat;
   // background-size: 100vw 80vh;
   // background: url('/img/bg-promo1.png') no-repeat;

   background-size: cover;
   // background-attachment: fixed;
   // background-size: ;
   // margin-top: 30px;
   // padding: 123px 0 110px;
   // height: 100vh;
   &__row {
      display: flex;
      flex-direction: column;
      padding: 120px 0;

      &--service {
         padding: 90px 0;
      }

      &-main {
         display: flex;
         flex-direction: row;
         align-items: center;
         justify-content: space-between;
         margin: 100px 0;
      }

      &-title {
         &--service {
            font-size: 3.5rem;//48-65px;
            width: 70%;
            text-align: center;
            color: $white; 
            text-shadow: 2px 2px 5px $minor
         }      
      }

      &-offer {
         background-color: rgba(0, 0, 0, 0.5);
         border: transparent;
         border-radius: 15px;
         display: flex;
         flex-direction: row;
         justify-content: space-between;
         align-items: center;
         // width: 75%;
         padding: 20px;
         // margin: auto;
         margin-top: 100px;
      }

      // &-text {
      //    color: $white;
      //    font-size: 1.5rem;//25px;
      //    line-height: 42px; //временная 160%
      //    width: 60%;
      // }

      &-type {
         display: flex;
         flex-direction: column;
         gap: 25px;
         background-color: rgba(0, 0, 0, 0.5);
         padding: 30px;
         border-radius: 15px;
         &--tern, &--price {
            display: flex;
            flex-direction: row;
            gap: 15px;
            color: $white;
            font-size: 1.5rem;//25px;
            align-items: center;
            img {
               width: 50px;
               height: 50px;
            }
         }
      }
   }
     
}

.logo {
   align-self: baseline;
   img {
      width: 250px;
   }

}

.promo__service {
   // background: url('/img/top-bg3.jpg') center no-repeat;
   background: url('/img/bg-promo2.png') no-repeat center;   
   background-size: cover;
}