@import url("https://fonts.googleapis.com/css2?family=Carlito:ital,wght@0,400;0,700;1,400;1,700&family=Finlandica:ital,wght@0,400..700;1,400..700&family=Fira+Sans+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Fira+Sans+Extra+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Mulish:ital,wght@0,200..1000;1,200..1000&family=Oswald:wght@200..700&family=Yanone+Kaffeesatz:wght@200..700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Oi&family=Prata&family=Ubuntu+Condensed&display=swap");
@font-face {
  font-family: "Gallinari";
  src: url("../fonts/Gallinari-ExtraboldCond.otf");
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: Oswald, sans-serif;
  font-weight: 400;
  font-size: 18px;
  color: rgb(89, 37, 58);
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  font-size: 1.25rem;
  color: rgb(89, 37, 58);
}

.container {
  width: 1160px;
  margin: 0 auto;
}

.container .header__nav {
  position: relative;
}

h1 {
  font-family: "Gallinari";
  font-size: 5rem;
  line-height: 130%;
  text-transform: uppercase;
  width: 70%;
  text-align: center;
  color: #ffffff;
}

h2 {
  font-family: Finlandica, sans-serif;
  font-weight: 600;
  font-size: 2.5rem;
  text-transform: uppercase;
  margin-bottom: 30px;
}

h3 {
  font-family: Finlandica, sans-serif;
  font-weight: 600;
  font-size: 2rem;
  text-transform: uppercase;
}

.how__row-item svg:nth-child(1) path {
  fill: #a53c6f;
}
.how__row-item--services svg path {
  fill: #a53c6f;
}
.how__row-item--address svg path {
  fill: #a53c6f;
}

.header__row svg path {
  fill: #d99b3f;
}

.how__row-free path:nth-child(1) {
  fill: #a53c6f;
}

.send__row svg path {
  fill: #d99b3f;
}

.header {
  background-color: rgba(0, 0, 0, 0.9019607843);
  width: 100%;
  position: sticky;
  top: 0;
  z-index: 100;
}
.header__row {
  padding: 16px 0;
  display: flex;
  align-items: center;
  position: relative;
  justify-content: space-between;
  height: 65px;
}
.header__logo {
  margin-left: 0;
}
.header__logo img {
  width: 30px;
}
.header__nav {
  display: flex;
  gap: 50px;
  align-items: center;
  justify-content: center;
}
.header__nav-item a {
  color: #ffffff;
  font-size: 1.375rem;
}
.header__nav-item {
  position: relative;
  border-bottom: 1px solid transparent;
}
.header__nav-item:hover {
  border-bottom-color: #ffffff;
}
.header__nav-burger {
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
  border: 1px solid white;
  border-radius: 10px;
  background: none;
  position: absolute;
  right: 0px;
  top: 8px;
  cursor: pointer;
}
.header__nav-burger span {
  display: flex;
  background: white;
  width: 26px;
  height: 2px;
  content: "";
  position: relative;
}
.header__nav-burger span::before {
  content: "";
  position: absolute;
  width: 26px;
  height: 2px;
  background: white;
  top: -8px;
}
.header__nav-burger span::after {
  content: "";
  position: absolute;
  width: 13px;
  height: 2px;
  background: white;
  top: 8px;
}
.header__nav-burger.open {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
}
.header__nav-burger.open span {
  rotate: -45deg;
}
.header__nav-burger.open span::before {
  rotate: 90deg;
  top: 30%;
}
.header__nav-burger.open span::after {
  opacity: 0;
}
.header__nav-burger:not(.open):hover span:nth-child(1) {
  transform: rotate(-3deg) scaleY(1.1);
}
.header__nav-burger:not(.open):hover span:nth-child(2) {
  transform: rotate(3deg) scaleY(1.1);
}
.header__nav-burger:not(.open):hover span:nth-child(3) {
  transform: rotate(-3deg) scaleY(1.1);
}
.header__nav.open {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 40px;
  width: 100%;
  height: 100%;
  background: #a53c6f;
  position: fixed;
  right: -100%;
  top: 0;
  z-index: 9999;
  animation: anim 0.5s forwards;
}
@keyframes anim {
  from {
    right: -100%;
  }
  to {
    right: 0;
  }
}
.header__nav .open a {
  font-weight: 600;
  font-size: 1.875rem;
  line-height: 48px;
  color: #ffffff;
}
.header__call {
  width: 60px;
  height: 60px;
  position: fixed;
  top: 90px;
  right: 30px;
  animation-name: call;
  animation-duration: 2.5s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: ease-in-out;
  z-index: 150;
  cursor: pointer;
}
@keyframes call {
  from {
    width: 50px;
    height: 50px;
  }
  to {
    width: 60px;
    height: 60px;
    rotate: -25deg;
  }
}

.social {
  position: fixed;
  top: 20%;
  right: 35px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  background-color: rgba(0, 0, 0, 0.6);
  border: rgba(0, 0, 0, 0);
  border-radius: 15px;
  padding: 10px 10px 5px;
  margin: 0;
  z-index: 100;
}
.social__item:hover {
  transform: scale(1.1);
}

.promo {
  background: url("/img/feature-bg.jpg") center no-repeat;
  background-size: cover;
}
.promo__row {
  display: flex;
  flex-direction: column;
  padding: 85px 0;
}
.promo__row-main {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin: 100px 0;
}
.promo__row-title--service {
  font-size: 3rem;
  width: 70%;
  text-align: center;
  color: #ffffff;
}
.promo__row-offer {
  background-color: rgba(0, 0, 0, 0.5);
  border: transparent;
  border-radius: 15px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  margin-top: 100px;
}
.promo__row-type {
  display: flex;
  flex-direction: column;
  gap: 25px;
}
.promo__row-type--tern, .promo__row-type--price {
  display: flex;
  flex-direction: row;
  gap: 15px;
  color: #ffffff;
  font-size: 1.5rem;
  align-items: center;
}
.promo__row-type--tern img, .promo__row-type--price img {
  width: 50px;
  height: 50px;
}

.logo {
  align-self: baseline;
}
.logo img {
  width: 250px;
}

.btn {
  width: 290px;
  padding: 20px 40px;
  border: 1px solid transparent;
  border-radius: 10px;
  text-align: center;
  font-size: 1.25rem;
  cursor: pointer;
}
.btn--submit, .btn--call {
  color: #ffffff;
  background-color: #a53c6f;
}
.btn--submit:hover, .btn--call:hover {
  -webkit-box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2);
  -moz-box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2);
  box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2);
}
.btn--send {
  color: #ffffff;
  background-color: #d99b3f;
  box-shadow: 1px 1px 1px 1px rgba(34, 60, 80, 0.2);
}
.btn--send:hover {
  -webkit-box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2);
  -moz-box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2);
  box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2);
}
.btn--send_foto {
  margin: 0 auto;
  font-family: inherit;
  color: #a53c6f;
  background-color: #ffffff;
  border: 0.1px solid #a53c6f;
  width: 100%;
}
.btn--send-promo {
  color: #ffffff;
  background-color: #d99b3f;
}
.btn--send-promo:hover {
  -webkit-box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2);
  -moz-box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2);
  box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2);
}
.btn--more {
  padding: 0 5px;
  width: auto;
}
.btn--switch {
  padding: 4px 8px 8px 8px;
  font-weight: 500;
  width: 30px;
  height: 30px;
  color: #ffffff;
  font-weight: 700;
  border: 1px solid #a53c6f;
  background-color: transparent;
}
.btn--switch svg path {
  fill: #a53c6f;
}

.how__row {
  padding: 85px 0;
}
.how__row-items {
  display: flex;
  gap: 40px;
}
.how__row-free {
  width: 80px;
  position: absolute;
  top: -10px;
  right: 0px;
  rotate: 10deg;
}
.how__row-info {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 50%;
  gap: 20px;
}
.how__row-item {
  border: 1px solid #a53c6f;
  border-radius: 15px;
  padding: 15px;
  max-width: 33%;
  position: relative;
}
.how__row-item_title {
  font-size: 1.625rem;
  margin-bottom: 20px;
  display: flex;
  gap: 20px;
}
.how__row-item_title span {
  width: 25px;
}
.how__row-item_text {
  font-size: 1.125rem;
}
.how__row-item_text span {
  color: #d99b3f;
}
.how__row-item--services {
  width: 65%;
  border: 1px solid #a53c6f;
  border-radius: 15px;
  padding: 15px;
}
.how__row-item--address {
  flex-grow: 1;
  border: 1px solid #a53c6f;
  border-radius: 15px;
  padding: 15px;
  position: absolute;
  top: 85%;
  left: 30%;
  background: #ffffff;
}

.feedback {
  margin: 40px 0;
  display: flex;
  gap: 50px;
  justify-content: center;
}

.visit {
  display: flex;
  gap: 50px;
  position: relative;
}

iframe {
  border-radius: 15px;
  border: 1px solid #a53c6f;
  position: absolute;
}

.about {
  background: url("/img/promo-bg.jpg") center no-repeat;
  background-size: cover;
}
.about__row {
  display: flex;
  flex-direction: column;
  padding: 85px 0 147px;
}
.about__row-content {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 55px;
}
.about__row-text {
  max-width: 45%;
  background-color: white;
  border-radius: 25px;
  padding: 15px;
  height: max-content;
  justify-self: start;
  font-size: 1.125rem;
}

.send {
  padding: 25px 0;
}
.send__row {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.send__row-appeal {
  width: 550px;
  font-size: 1.5625rem;
}
.send__row--promo {
  background-color: rgba(0, 0, 0, 0.5);
  border: rgba(0, 0, 0, 0);
  border-radius: 15px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  color: #ffffff;
}
.send__row--promo .send__row-icon {
  display: none;
}

.popup-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(246, 244, 242, 0.6235294118);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 100;
}

.form {
  z-index: 1000;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 380px;
  padding: 20px;
  padding-bottom: 40px;
  border-radius: 10px;
  background-color: #f6f8f8;
  display: flex;
  flex-direction: column;
  box-shadow: 0px 1px 1px 1px rgba(34, 60, 80, 0.2);
}
.form__title {
  font-size: 1.5625rem;
  font-weight: 700;
  text-align: center;
  margin-bottom: 10px;
  color: rgb(89, 37, 58);
}
.form__subtitle {
  font-size: 1.25rem;
  font-weight: 600;
  margin: 10px 0;
  color: rgb(89, 37, 58);
}
.form__description {
  font-size: 0.875rem;
  color: #a53c6f;
  opacity: 0.7;
}
.form input {
  outline: none;
  padding: 10px;
  margin: 10px 0;
  font-family: Oswald, sans-serif;
}
.form__upload input[type=file] {
  padding: 0;
  margin-bottom: 20px;
  margin-top: 0;
}
.form__upload-file::-webkit-file-upload-button {
  color: #ffffff;
  background: #a53c6f;
  border: 1px solid #a53c6f;
  padding: 8px 15px;
  margin-right: 10px;
  font-weight: 600;
  border-radius: 8px;
  white-space: nowrap;
  cursor: pointer;
  font-size: 14px;
  font-family: Oswald, sans-serif;
}
.form input[type=name],
.form input[type=tel],
.form select,
.form textarea {
  border: 0.2px solid #a53c6f;
  border-radius: 8px;
}
.form select {
  padding: 5px;
  margin: 10px 0;
  outline: none;
  font-family: Oswald, sans-serif;
}
.form textarea {
  max-width: 340px;
  padding: 10px;
  outline: none;
  font-family: inherit;
}
.form__close {
  position: absolute;
  right: 20px;
  width: 24px;
  height: 24px;
  cursor: pointer;
}
.form__close svg path {
  stroke: #a53c6f;
  fill: none;
}
.form__communicate {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.form__message {
  color: #d99b3f;
  font-weight: 900;
  position: absolute;
  bottom: 10px;
  left: 30%;
}

.form__request {
  display: flex;
  flex-direction: row;
  z-index: 1000;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 700px;
  gap: 40px;
  padding: 20px;
  padding-bottom: 40px;
  border-radius: 10px;
  background-color: #f6f8f8;
  box-shadow: 0px 1px 1px 1px rgba(34, 60, 80, 0.2);
}
.form__request__title {
  font-size: 1.5625rem;
  font-weight: 700;
  text-align: center;
  margin-bottom: 10px;
  color: rgb(89, 37, 58);
}
.form__request__subtitle {
  font-size: 1.25rem;
  font-weight: 600;
  margin: 10px 0;
  color: rgb(89, 37, 58);
}
.form__request__description {
  font-size: 0.875rem;
  color: #a53c6f;
  opacity: 0.7;
}
.form__request input {
  outline: none;
  padding: 10px;
  margin: 10px 0;
  font-family: Oswald, sans-serif;
  width: 310px;
}
.form__request__upload input[type=file] {
  padding: 0;
  margin-bottom: 20px;
  margin-top: 0;
}
.form__request__upload-file::-webkit-file-upload-button {
  color: #ffffff;
  background: #a53c6f;
  border: 1px solid #a53c6f;
  padding: 8px 15px;
  margin-right: 10px;
  font-weight: 600;
  border-radius: 8px;
  white-space: nowrap;
  cursor: pointer;
  font-size: 14px;
  font-family: Oswald, sans-serif;
}
.form__request input[type=name],
.form__request input[type=tel],
.form__request select,
.form__request textarea {
  border: 0.2px solid #a53c6f;
  border-radius: 8px;
}
.form__request input[type=date] {
  width: 100%;
  border: 0.2px solid #a53c6f;
  border-radius: 8px;
}
.form__request input[type=time] {
  width: 40%;
  border: 0.2px solid #a53c6f;
  border-radius: 8px;
}
.form__request select {
  padding: 5px;
  margin: 10px 0;
  outline: none;
  font-family: Oswald, sans-serif;
  width: 310px;
}
.form__request textarea {
  width: 310px;
  padding: 10px;
  outline: none;
  margin-top: 10px;
  font-family: inherit;
}
.form__request__close {
  position: absolute;
  right: 20px;
  width: 24px;
  height: 24px;
  cursor: pointer;
}
.form__request__close svg path {
  stroke: #a53c6f;
  fill: none;
}
.form__request__communicate {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.form__request__message {
  color: #d99b3f;
  font-weight: 900;
  position: absolute;
  bottom: 10px;
  left: 40%;
}

.services {
  background: #f6f4f2;
}
.services__row {
  margin-top: 100px;
  padding: 75px 0;
  display: flex;
  flex-direction: column;
  position: relative;
}
.services__row--page {
  padding: 15px 0 55px;
}
.services__row-section {
  display: grid;
  gap: 15px 20px;
  grid-template-columns: repeat(3, 1fr);
}
.services__row-img {
  border-radius: 10px;
  max-height: 263px;
}
.services__row-img--preview {
  width: 50%;
}
.services__row-item {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 5px;
  border: 1px solid transparent;
  border-radius: 15px;
  background: #ffffff;
  box-shadow: 0px 1px 1px 1px rgba(34, 60, 80, 0.2);
  cursor: pointer;
}
.services__row-item:hover {
  -webkit-box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2);
  -moz-box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2);
  box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2);
}
.services__row-type {
  font-weight: 600;
  margin: 5px 0;
  min-height: 40px;
  font-size: 1.25rem;
  line-height: 110%;
}
.services__row-type--desc {
  text-transform: uppercase;
  font-weight: 900;
  margin: 20px 0 10px;
}
.services__row-type--desc span {
  margin-right: 20px;
}
.services__row-info {
  display: flex;
  justify-content: space-between;
}
.services__row-content {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  gap: 25px;
}
.services__row-promo {
  text-align: center;
  font-size: 1.375rem;
  margin: 15px 0 25px;
}
.services__row-about {
  text-align: center;
  font-size: 1.25rem;
  display: flex;
}
.services__row-stages {
  margin: 30px 0 70px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  flex-basis: 30%;
  gap: 25px;
  justify-content: center;
}
.services__row-stage {
  width: calc((100% - 50px) / 3);
  padding: 10px;
  border: 1px solid rgba(0, 0, 0, 0);
  border-radius: 15px;
  background: #ffffff;
  box-shadow: 0px 1px 1px 1px rgba(34, 60, 80, 0.2);
}
.services__row-stage:hover {
  -webkit-box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2);
  -moz-box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2);
  box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2);
}
.services__row-stage--title {
  font-size: 1.5rem;
  font-weight: 500;
  margin: 10px 0 5px;
}
.services__row-stage--text {
  font-size: 1.125rem;
}
.services__row-questions {
  margin: 50px 0;
}
.services__row-question {
  margin: 15px 0 30px;
}
.services__row-question--title {
  font-size: 1.5rem;
  font-weight: 500;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #a53c6f;
  padding-bottom: 10px;
  cursor: pointer;
}
.services__row-question--answer {
  font-size: 1.125rem;
  padding-top: 10px;
  width: 95%;
}
.services__row-top {
  display: flex;
  justify-content: space-between;
}
.services__row-bottom {
  display: grid;
  grid-template-columns: 1fr 1.5fr;
  gap: 25px;
}

.footer {
  background-color: rgba(0, 0, 0, 0.9);
  width: 100%;
  position: sticky;
  top: 0;
  z-index: 100;
}
.footer__row {
  padding: 15px 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.footer__row-logo {
  padding-top: 10px;
}
.footer__row-logo img {
  width: 300px;
}
.footer__row-title, .footer__row-text {
  color: #ffffff;
}

@media (min-width: 1601px) {
  .container {
    width: 1660px;
    max-width: 90%;
  }
  html {
    font-size: 19px;
  }
  .promo__row {
    padding: 150px 0;
  }
  .about__row {
    padding: 225px 0;
  }
  .how__row {
    padding: 160px 0;
  }
  .services__row {
    padding: 140px 0;
  }
  .services__row-section {
    grid-template-columns: repeat(4, 1fr);
  }
  iframe {
    width: 600px;
  }
  .services__row-img {
    width: 100%;
  }
  .services__row-type {
    line-height: 130%;
  }
  .services__row-section {
    gap: 40px 20px;
  }
}
@media (max-width: 1600px) {
  .promo__row {
    padding: 90px 0;
  }
}
@media (max-width: 1536px) {
  .promo__row {
    padding: 75px 0;
  }
}
@media (max-width: 1440px) {
  .promo__row {
    padding: 87px 0;
  }
}
@media (max-width: 1366px) {
  .promo__row {
    padding: 25px 0;
  }
}
@media (max-width: 1280px) {
  .promo__row {
    padding: 35px 0;
  }
  .container {
    width: 90%;
  }
}
@media (max-width: 1024px) {
  body {
    font-size: 16px;
  }
  h1 {
    font-size: 4rem;
  }
  h2 {
    font-size: 2rem;
    margin-bottom: 10px;
  }
  .header__nav {
    display: none;
  }
  .header__nav-burger {
    display: flex;
    z-index: 10000;
  }
  .promo__row {
    padding: 52px 0;
  }
  .send__row {
    gap: 25px;
  }
  .about__row-content {
    gap: 25px;
  }
  .feedback {
    margin: 15px 0;
  }
  .how__row-items {
    flex-wrap: wrap;
    justify-content: center;
    gap: 15px;
  }
  .how__row-item {
    max-width: 45%;
  }
  .how__row-item_title {
    margin-bottom: 10px;
  }
  .how__row-item--address {
    top: 40%;
  }
  iframe {
    width: 400px;
    height: 170px;
  }
  .services__row-section {
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;
  }
  .services__row-item {
    width: 90%;
  }
}/*# sourceMappingURL=style.css.map */