//color 
// $main: #556b2f;
$main: rgb(89, 37, 58);
$minor: #a53c6f; //#78244C
$major: #d99b3f;
// $major: #F9DC5C;
// $main: #490b3d;
// $minor: #bd1e51;
// $major: #f1b814;
// $light-gray:  #f6f4f2; //#f7f7f7
$light-gray:  #f6f4f2; 

$gray:  #f5eded11;
$dark-gray: #151515;
$white: #ffffff;



// $minor: #2c2a28; +
// $minor: #e97451; +
// $minor: #7a3819;
// $minor: #9B6A6C; +
// $minor: #4C2719;
// $minor: #E3170A;
// $minor: #982649;
// $minor: #AB3428;
// $minor: #C97064; +
// $minor: #6D5959;
// $minor: #BFAB25;
// $minor: #C76D7E;
// $minor: #E7BB41;

// $minor: #E3B23C;


