//color 
$main: #556b2f;
// $main: black;

// $minor: #2c2a28; +
// $minor: #e97451; +
// $minor: #7a3819;
// $minor: #9B6A6C; +
// $minor: #4C2719;
// $minor: #E3170A;
// $minor: #982649;
// $minor: #AB3428;
// $minor: #C97064; +
// $minor: #6D5959;
// $minor: #BFAB25;
// $minor: #C76D7E;
// $minor: #E7BB41;
$minor: #AD343E;

// $minor: #E3B23C;


$gray:  #808080;
$dark-gray: #151515;
$white: #ffffff;